<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
        {{activity.title}}
    </mat-card-title>
    <mat-card-subtitle>{{subscriptionCount}} active subscription(s)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of (subscriptions|async); let i=index">
          <td>{{i+1}}</td>
          <td>{{s.firstName}}</td>
          <td>{{s.lastName}}</td>
          <td>{{s.emailAddress}}</td>
          <td>{{s.comments}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
