<h1 mat-dialog-title>Add Activity</h1>
<div class="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>Activity Title</mat-label>
    <input matInput [formControl]="title">
    <mat-error *ngIf="title.hasError('activityExists') && !title.hasError('required')">
      Activity already exists
    </mat-error>
    <mat-error *ngIf="title.hasError('required')">
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="spacer"></div>
  <button mat-button (click)="cancel()" mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="title.invalid" cdkFocusInitial (click)="saveActivity()">Ok</button>
</div>
