$row-border:2px solid rgba(0,0,0,0.2);
$info-border: 1px solid rgba(52, 152, 219,1.0);
$info-background: rgba(52, 152, 219,0.5);

.activities-table {
  border-collapse: collapse;
  width: 100%;
  text-align:center;
  & tr {
    border-bottom: $row-border;
  }

  & th {
    font-weight: bold;
    color: gray;
  }

  & td {
    padding: 5px;
  }
}
.info{
    border:$info-border;
    background-color:$info-background;
    border-radius:5px;
    padding: 5px;
    color:white;
}
.hyperlink {
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    color: black;
  }
}
