
$info-border: 1px solid rgba(52, 152, 219,1.0);
$info-background: rgba(52, 152, 219,0.5);


.info{
    border:$info-border;
    background-color:$info-background;
    border-radius:5px;
    padding: 5px;
    color:white;
}
.hyperlink {
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  transition: 0.2s all;
  text-decoration:underline;
  &:hover {
    color: black;
  }
}
