<div>
  <div class="info"><fa-icon [icon]="infoIcon"></fa-icon> Add a new activity or click on an existing activity to see subscriptions.</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Subscribe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of (activities | async); let i =index">
      <td>{{i+1}}</td>
      <td><a class="hyperlink" [routerLink]="[a.id]">{{a.title}}</a></td>
      <td><a class="hyperlink" (click)="subscribe(a)">Subscribe</a></td>
    </tr>
  </tbody>
</table>
